
// Vendor Components
@import "/bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400);

// Enforce modal margin
.ekko-lightbox > .modal-dialog {
  width: auto!important;
  padding: 10px;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

b, strong {
  font-weight: 400;
}

.box, .jumbotron, .panel {
  background-color:rgba(255, 255, 255, 0.8);
  @include transition(background-color, 0.6s ease-out);
}

.jumbotron p {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.box:hover, .jumbotron:hover, .panel:hover {
  background-color:rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {
  .row-md-7 > div {
    height: auto;
  }
}

// Workaround for variable import issu

a:hover, a:active, a:focus {
  text-decoration: none !important;
}

body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

