
// Vendor Components
@import "/bootstrap/scss/bootstrap";

// enforce modal margin
.ekko-lightbox > .modal-dialog {
  width: auto!important;
  padding: 10px;
}

body {
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box, .jumbotron, .panel {
	background-color:rgba(255, 255, 255, 0.8);
	@include transition(background-color, 1.2s ease-out);
}

.box:hover, .jumbotron:hover, .panel:hover {
	background-color:rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {
	.row-md-7 > div {
	    height: auto;
	}
}